.headerBox{
    position: fixed;
    top:0px;
    left: 0px;
    height: 65px;
    width: 100%;
    padding: 8px 20px 8px 18px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 1px 10px 5px  gray;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    flex-wrap: nowrap;
}

.headerNotificateBox{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    position:relative;
}

.headerNotificateBox:hover{
    background-color: rgba($color: #bdbdbd, $alpha: 0.2);
}
.headerWelcomeList{
    height: 50px;
    display: flex;
    
}
.headerUsername{
    color: rgb(52, 49, 76);
    font-weight:bold;
    &::before{
        content: 'Hi ';
        font-weight:normal;
    }
    
}