.footerBox{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 64px;
    background-color: rgb(34, 42, 69);        
    line-height: 64px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.footerDesign{
    margin-right: 15%;
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-size: 12px;
}