.asideItems{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
}

.asideItem{
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-left: 29px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    height: 44px;
    line-height: 44px;
    width: 100%;
    position: relative;
}
.asideItemTitleIcon{
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding-right: 10px;
}

.asideTitle{
    font-weight: 100;
    font-size: 0.875rem;
}
.asideItemTitleRowArrow{
    color: rgb(255, 255, 255);
    font-size: 14px; 
    position: absolute;
    right: 0;
    margin-right: 30px;
}
.asideItem:hover{
    background-color: rgba(250, 250, 250,0.1);
}
@font-face {
    font-family: 'iconfont';
    src: url('../../assets/icon/iconfontArrow.ttf') format('truetype');
  }

  .asideSubItem{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .asideSubItemTitle{
    width: 100%;
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    padding-left: 29px;
    height: 50px;
    line-height: 50px;
  }

.asideSubItemTitle:hover{
    background-color: rgba(250, 250, 250,0.1);
}