.mainDrawer{
    background-color: #fff; 
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: calc(100% - 60px);
    margin: 30px;
}
.dashboardOverview{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.dashboardTitle{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    color: rgb(52, 49, 76);
}
.dashboardIcon{
   width: 40px;
   padding: 10px;
   height: 65px;
   font-size: 24px;
   color:gray;
}
.dashboradNumber{
    color: rgb(52, 49, 76);
    font-size: 32px;
    font-weight: 500;
    line-height: 1.5;
}
.dashboradTitle{
    font-size: 14px;
    text-transform: none;
    margin: 0px;
    color: rgba(52, 49, 76, 0.54);
}
.dashboradPaperCommon{
    margin-left: 10px;
}
.dashboradMemberChartBox{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    
}
.dashboradMemberChartTitle{
    width: 66px;
    padding: 16px;
    background-color:rgba(0, 0, 0, 0.02);
    width: 100%;
    line-height: 1.5;
    text-transform: none;
    font-weight: 500;
    color: rgba(52, 49, 76, 0.54);
}